body{
  padding-top: 100px;
  padding-bottom: 100px;
}
#div{
  color: white;
  background-color: rgb(12, 12, 12);
  padding-bottom: 150px;
  padding-top: 50px;
  border-radius: 20px;
  width: 700px;
  padding-left: 50px;
  padding-right: 50px;
}
h2{
  text-align: center;
  font-size:40px;
}